<form name="form" novalidate>
    <div class="form-group">
        <label>Type de séance :</label>
    </div>
    <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-primary">
            <input type="radio" ng-model="seance.type" ng-value="false" name="options">INDOOR
        </label>
        <label class="btn btn-primary">
            <input type="radio" ng-model="seance.type" ng-value="true" name="options">OUTDOOR
        </label>
    </div>
    {{seance.type}}
    <div class="form-group">
        <label for="date">Date :</label>
        <input type="date" ng-model="seance.date" class="form-control" id="nombre" value="{{ seance.date | date: 'yyyy-MM-dd' }}" placeholder="Date de la séance" required>
    </div>
    <div class="form-group">
        <label for="nombre">Nombre :</label>
        <input type="number" ng-model="seance.nb" class="form-control" id="nombre" placeholder="Nombre de participants" required>
    </div>
    <div class="form-group">
        <label for="distance">Remarques :</label>
        <textarea ng-model="seance.remarks" class="form-control" rows="3"></textarea>
    </div>
    <div class="form-group" ng-show="seance.type">
        <label for="distance">Distance :</label>
        <input type="number" ng-model="seance.distance" class="form-control" id="distance" placeholder="Distance effectuée" ng-required="seance.type">
    </div>
    <div class="form-group" ng-show="seance.type">
        <label for="start">Heure de début :</label>
        <input type="time" ng-model="seance.start" class="form-control" id="start" placeholder="Heure de début" ng-required="seance.type">
    </div>
    <div class="form-group" ng-show="seance.type">
        <label for="end">Heure de fin :</label>
        <input type="time" ng-model="seance.end" class="form-control" id="end" placeholder="Heure de début" ng-required="seance.type">
    </div>
    <button type="button" ng-click="go('/')" class="btn btn-default">Annuler</button>
    <button type="button" class="btn btn-primary" ng-disabled="form.$invalid" ng-click="save()">Save</button>
</form>